<header class="navbar">
  <div class="container">
    <%= link_to "MeyeThots", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right navbar-header">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "Login", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
